<!-- Footer à rajouter ici, on fixera en bas de page avec du css etc.. -->
<!-- Site footer -->
<footer class="site-footer footer rounded border-top bd-highligh">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h4>About</h4>
        <p class="text-justify">
          Site.com <i>Site</i> is an initiative to bring the peopleto talk between them and share code and ideas.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h4>Categories</h4>
        <ul class="footer-links">
          <li class="nav-item">
            <a class="nav-link" routerLink="home">Blabla</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="home">Blabla2</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h4>Quick Links</h4>
        <ul class="footer-links">
          <li><a href="">About Us</a></li>
          <li><a href="">Contact Us</a></li>
          <li>
            <a href="">Test</a>
          </li>
          <li>
            <a href="">Test</a>
          </li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2022 All Rights Reserved by
          <a href="#">4AL1 Ifzas Nguyen , Lucas Rochette , Alexandre Paprocki</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a
              class="facebook"
              href=""
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a class="twitter" href=""
              ><i class="fa fa-twitter"></i
            ></a>
          </li>
          <li>
            <a class="twitch" href=""
              ><i class="fa fa-twitch"></i
            ></a>
          </li>
          <li>
            <a
              class="youtube"
              href=""
              ><i class="fa fa-youtube"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
