<ngb-carousel id="slide" class="container text-center">
  <ng-template ngbSlide>
    <div
      class="picsum-img-wrapper img_transform text-center"
      (click)="redirect1()"
    >
      <img src="../../assets/images/img1.png" alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <h3>Blbl1</h3>
      <p>
       blbl1
      </p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div
      class="picsum-img-wrapper img_transform text-center"
      (click)="redirect2()"
    >
      <img src="../../assets/images/img2.png" alt="Random second slide" />
    </div>
    <div class="carousel-caption">
      <h3>Blblb2</h3>
      <p>blblb2</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div
      class="picsum-img-wrapper img_transform text-center"
      (click)="redirect3()"
    >
      <img src="../../assets/images/img3.jpg" alt="Random third slide" />
    </div>
    <div class="carousel-caption">
      <h3>Blblb3</h3>
      <p>blbl3</p>
    </div>
  </ng-template>
</ngb-carousel>
