<div>
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select language</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="changeLanguage('javacript')">Javascript</button>
          <button ngbDropdownItem (click)="changeLanguage('java')">Java</button>
          <button ngbDropdownItem (click)="changeLanguage('c++')">C++</button>
        </div>
      </div>
      <div class="d-inline">language selected: {{editorOptions.language}}</div>
    </div>
  </div>
  <div>
  <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
  <button class="btn" (click)="sendCode()">Compiler</button>
  <textarea class="bg-dark" [(ngModel)]="codeRecu" (change)="displayCode()"></textarea>
  </div>
</div>
